

/* SASS file */
body{

	
}

.testing{

	width: percentage(5/7);
	
	// adding a color
	color: rgb(128, 123, 123);

}

h1{

	color: red;
}

p{

	font-size: 20px;
	text-transform: uppercase;
	font: bold Arial, sans-serif;
	color: blue;
}





